In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
house_data = pd.read_csv('bengaluru_house_prices.csv')

house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [40]:
house_data.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00

In [41]:
df_1 = house_data.drop(['area_type', 'availability', 'balcony', 'society'], axis =1)

In [42]:
object_cols = [col for col in df_1.columns if df_1[col].dtype == 'object']

object_cols

['location', 'size', 'total_sqft']

In [43]:
df_1[object_cols].nunique()

location      1305
size            31
total_sqft    2117
dtype: int64

In [44]:
df_1.head(10)

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00
5                Whitefield      2 BHK       1170   2.0   38.00
6          Old Airport Road      4 BHK       2732   4.0  204.00
7              Rajaji Nagar      4 BHK       3300   4.0  600.00
8              Marathahalli      3 BHK       1310   3.0   63.25
9              Gandhi Bazar  6 Bedroom       1020   6.0  370.00

In [45]:
df_1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [46]:
df_2 = df_1.dropna()

In [47]:
df_2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [48]:
df_2[object_cols].nunique()

location      1304
size            31
total_sqft    2067
dtype: int64

In [49]:
df_2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [50]:
df_2['size'] = df_2['size'].apply(lambda x: int(x.strip().split()[0]))

/tmp/ipykernel_4357/3006242342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['size'] = df_2['size'].apply(lambda x: int(x.strip().split()[0]))

In [51]:
df_2

                       location  size total_sqft  bath   price
0      Electronic City Phase II     2       1056   2.0   39.07
1              Chikka Tirupathi     4       2600   5.0  120.00
2                   Uttarahalli     3       1440   2.0   62.00
3            Lingadheeranahalli     3       1521   3.0   95.00
4                      Kothanur     2       1200   2.0   51.00
...                         ...   ...        ...   ...     ...
13315                Whitefield     5       3453   4.0  231.00
13316             Richards Town     4       3600   5.0  400.00
13317     Raja Rajeshwari Nagar     2       1141   2.0   60.00
13318           Padmanabhanagar     4       4689   4.0  488.00
13319              Doddathoguru     1        550   1.0   17.00

[13246 rows x 5 columns]

In [53]:
df_2.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [54]:
def isfloat(x):
    try:
        float(x)
    except:
        return False
    return True

In [56]:
df_2[~df_2['total_sqft'].apply(lambda x: isfloat(x))]

                 location  size   total_sqft  bath    price
30              Yelahanka     4  2100 - 2850   4.0  186.000
122                Hebbal     4  3067 - 8156   4.0  477.000
137    8th Phase JP Nagar     2  1042 - 1105   2.0   54.005
165              Sarjapur     2  1145 - 1340   2.0   43.490
188              KR Puram     2  1015 - 1540   2.0   56.800
...                   ...   ...          ...   ...      ...
12975          Whitefield     2   850 - 1060   2.0   38.190
12990      Talaghattapura     3  1804 - 2273   3.0  122.000
13059              Harlur     2  1200 - 1470   2.0   72.760
13265               Hoodi     2  1133 - 1384   2.0   59.135
13299          Whitefield     4  2830 - 2882   5.0  154.500

[190 rows x 5 columns]

In [86]:
def convert_range_to_avg(x):
    tokens = x.strip().split('-')
    if len(tokens)  == 2:
        p, q = tokens
        return float((float(p)+float(q))/2)
    try:
        return float(x)
    except:
        return None

In [87]:
convert_range_to_avg('12668')

12668.0

In [88]:
df_3  = df_2.copy(deep=True)

In [89]:
df_3['total_sqft'] = df_3['total_sqft'].apply(lambda x: convert_range_to_avg(x))

In [91]:
df_3['total_sqft'].isnull().sum()

46

In [94]:
df_4 = df_3.copy(deep=True)

In [95]:
df_4['price_per_sqft'] = (df_4['price'] * 100000) / df_4['total_sqft']

In [96]:
df_4['location'] = df_4['location'].apply(lambda x: x.strip())

In [100]:
loc_stat = df_4.groupby('location')['location'].agg('count').sort_values(ascending = False)
loc_stat

location
Whitefield               535
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           266
Thanisandra              236
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Karnataka Shabarimala      1
whitefiled                 1
Name: location, Length: 1293, dtype: int64

In [103]:
loc_stas_less_than_10 = loc_stat[loc_stat <= 10]
loc_stas_less_than_10

location
Basapura                 10
1st Block Koramangala    10
Gunjur Palya             10
Kalkere                  10
Sector 1 HSR Layout      10
                         ..
1 Giri Nagar              1
Kanakapura Road,          1
Kanakapura main  Road     1
Karnataka Shabarimala     1
whitefiled                1
Name: location, Length: 1052, dtype: int64

In [104]:
df_4['location'] = df_4['location'].apply(lambda x: 'other' if x in loc_stas_less_than_10 else x)

In [108]:
df_4.location.value_counts()

location
other                 2881
Whitefield             535
Sarjapur  Road         392
Electronic City        304
Kanakpura Road         266
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64