In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
pokemon_data = pd.read_csv('Pokemon.csv')
pokemon_data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [47]:
pokemon_data.shape

(800, 13)

In [48]:
pokemon_data.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [49]:
pokemon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [50]:
pokemon_data.nunique()

#             721
Name          800
Type 1         18
Type 2         18
Total         200
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [51]:
pokemon_data_obj_cols = [col for col in pokemon_data if pokemon_data[col].dtype == 'object']

pokemon_data[pokemon_data_obj_cols].nunique()

pokemon_data['Legendary'].unique()

array([False,  True])

In [52]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Assuming pokemon_data is your DataFrame and ohe is your OneHotEncoder instance

# Fit and transform OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
transformed_data = ohe.fit_transform(pokemon_data[['Legendary']])
col_names = ohe.get_feature_names_out(['Legendary'])

# Create DataFrame with transformed data and specified columns
columns_transformed = pd.DataFrame(transformed_data, columns=col_names)

# # Reset index of pokemon_data and columns_transformed
# pokemon_data.reset_index(drop=True, inplace=True)
# columns_transformed.reset_index(drop=True, inplace=True)

# Concatenate pokemon_data with columns_transformed
pokemon_data = pd.concat([pokemon_data, columns_transformed], axis=1)

# Drop original 'Legendary' column if needed
pokemon_data.drop(['Legendary'], axis=1, inplace=True)

# Display first few rows to verify
print(pokemon_data.head())

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary_False  Legendary_True
0       65       65     45           1              1.0             0.0
1       80       80     60           1              1.0             0.0
2      100      100     80           1              1.0             0.0
3      122      120     80           1              1.0             0.0
4       60       50     65           1              1.0             0.0

In [53]:
pokemon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #                800 non-null    int64
 1   Name             800 non-null    object
 2   Type 1           800 non-null    object
 3   Type 2           414 non-null    object
 4   Total            800 non-null    int64
 5   HP               800 non-null    int64
 6   Attack           800 non-null    int64
 7   Defense          800 non-null    int64
 8   Sp. Atk          800 non-null    int64
 9   Sp. Def          800 non-null    int64
 10  Speed            800 non-null    int64
 11  Generation       800 non-null    int64
 12  Legendary_False  800 non-null    float64
 13  Legendary_True   800 non-null    float64
dtypes: float64(2), int64(9), object(3)
memory usage: 87.6+ KB

In [69]:
X_cols = [col for col in pokemon_data.columns if pokemon_data[col].dtype != 'object']

temp_data = pokemon_data.copy(deep=True)

from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()

temp_data['Type 1'] = oe.fit_transform(temp_data[['Type 1']])
X = temp_data[X_cols]
y = temp_data['Type 1']

In [70]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [75]:
from sklearn.naive_bayes import MultinomialNB

model_1 = MultinomialNB()

model_1.fit(X_train, y_train)

m_1 = model_1.score(X_test, y_test)

In [76]:
from sklearn.naive_bayes import GaussianNB

model_2 = GaussianNB()

model_2.fit(X_train, y_train)

m_2 = model_2.score(X_test, y_test)

In [77]:
print(m_1, m_2)

0.09 0.1

In [78]:
from xgboost import XGBClassifier

model_3 = XGBClassifier(objective = 'binary:logistic')

model_3.fit(X_train, y_train)

m_3 = model_3.score(X_test, y_test)

In [79]:
m_3

0.285